* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-head {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    translate: -50% -50%;
}

h3 {
    color: var(--amber-core);
    font-family: var(--font-mono);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}