:root {
	/* Colors */
	--void-black:#080808;
	--signal-white:#E8E4D9;
	--amber-core:#C17A2E;
	--rust-dim:#5C3317;
	--static-grey:#2A2A2A;
	--glitch-teal:#00FFB2;

	/* Fonts */
	--font-mono: 'Space Mono', monospace;
	--font-display: 'Cinzel', serif;

	/* Easing */
	--ease-settle:  cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--signal-white);
	font-family: var(--font-display);
}

body {
	background-color: var(--void-black);
}

main {
	overflow: hidden;
}

/*=== LAYER 0 ===*/
.star {
	z-index: -5;
	position: absolute;
	border-radius: 50%;
	background-color: var(--signal-white);
	animation: starDrift var(--starDur) ease-in-out infinite;
	animation-delay: var(--starDel);
}

/*=== LAYER 1 ===*/
.core-layer {
	z-index: -4;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
.core {
	position: relative;
	top: 40%;
	left: -2rem;
	width: 15rem;
	height: 15rem;
	background: radial-gradient(circle 6rem at center, var(--amber-core) 1%, var(--void-black) 100%);
	border: 1px solid var(--rust-dim);
	border-radius: 50%;
	opacity: 10%;
	animation: pulse 1.5s var(--ease-settle) infinite;
}

.rings {
	position: relative;
	left: 65%;
	top: -12%;
	width: 35rem;
	height: 35rem;
	border: 1.8rem solid var(--rust-dim);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 5%;
}
.ring {
	width: 75%;
	height: 75%;
	border: 1.5rem solid var(--rust-dim);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ring .ring {
	width: 60%;
	height: 60%;
	border: 0.8rem solid var(--rust-dim);
	border-radius: 50%;
}

/*=== LAYER 2 ===*/
.sysinfo {
	z-index: -3;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 50%;
}
.sysinfo nav {
	height: 4rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}
.sysinfo nav p {
	color: var(--static-grey);
	font-family: var(--font-mono);
	font-size: 0.5rem;
	letter-spacing: 5px;
}
.radar {
	position: relative;
	width: 3.5rem;
	height: 3.5rem;
	border: 2px solid var(--static-grey);
	border-radius: 50%;
	opacity: 50%;
}
.radar::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 60%;
	border: 2px solid var(--static-grey);
	border-radius: 50%;
}
.radar::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	height: 25%;
	border: 2px solid var(--static-grey);
	border-radius: 50%;
}
.radar .dot {
	z-index: 1;
	position: absolute;
	top: 40%;
	left: 75%;
	transform: translate(-50%, -50%);
	width: 6px;
	height: 6px;
	background-color: red;
	opacity: 50%;
	border-radius: 50%;
	animation: bleep 2s linear infinite;
	animation-delay: 1s;
}
.radar .sweep {
	position: absolute;
	transform-origin: 0% 50%;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 2px;
	transform: translate(0%, -50%);
	background-color: var(--rust-dim);
	animation: sweep 5s linear infinite reverse;
	z-index: 2;
}




.main-info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes starDrift {
	0% {
		transform: translate(0, 0);
		opacity: var(--opacity-a);
	}
  	50% {
		transform: translate(var(--dx), var(--dy));
		opacity: var(--opacity-b);
	}
	100% {
		transform: translate(0, 0);
		opacity: var(--opacity-a);
	}
}

@keyframes pulse {
	0% {
		scale: 1;
	}
	10% {
		scale: 1.2;
	}
  	50% {
		scale: 1;
	}
	100% {
		scale: 1.1;
	}
}

@keyframes sweep {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 360deg;
	}
}

@keyframes bleep {
	0% {
		scale: 1;
		box-shadow: 0 0 0 0 red;
	}
	50% {
		box-shadow: 0 0 2px 2px red;
	}
	100% {
		box-shadow: 0 0 0 0 red;
	}
}