* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content {
    display: block;
    margin-top: min(10rem, 20%);
    margin-left: auto;
    margin-right: auto;
	width: fit-content;
	height: 100%;
	padding: 1rem;
}

.content .label {
	font-size: 0.7rem;
	letter-spacing: 4px;
	color: var(--amber-core);
	font-family: var(--font-mono);
	margin-bottom: 1rem;
}
.content .name {
	font-size: 4rem;
	font-weight: 400;
	margin-bottom: 2rem;
}
.content .details {
	margin-bottom: 2rem;
	font-family: var(--font-mono);
	font-size: 1rem;
	color: var(--text-muted);
}
.content .tags {
	color: var(--amber-core);
	font-weight: 400;
	font-size: 1rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content .tags span {
	margin-right: 1rem;
	color: var(--static-grey);
}

.content .chev {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	opacity: 0.75;
	animation: scroll 1s ease-out infinite reverse;
}

@keyframes scroll {
	0% {
		opacity: 0.5;
		transform: translateY(0);
	}
	100% {
		transform: translateY(20px);
		opacity: 0.25;
	}
}